---
//import Footer from "../components/Footer.astro";
import { Footer } from "@forever-twenty-nine/astro-ui-lib";
import Header from "../components/Header.astro";
import "../styles/global.css";
import {config} from "../config";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Landing Standard Template</title>
	</head>
	<body>
		<Header />
		<slot />
		<Footer
			
			legend={config.siteLegend}
			copyright={`© ${new Date().getFullYear()} ${config.site}. Todos los derechos reservados.`}
			author={`Creado por ${config.author}`}
		/>
	</body>
</html>